<h3>New property added</h3>
<h4>User details</h5>
{{#each user}}
    <div>{{@key}} : {{this}}</div>
{{/each}}
<h4>Property details</h5>
{{#each property}}
    <div>{{@key}} : {{this}}</div>
{{/each}}
